.container--navbar {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 40px 15px;
  background-color: var(--background-secondary);
}

.navbar--text {
  display: flex;
  flex-direction: column;
}

.navbar--text__title {
  padding: 0 5px;
  font-size: 1.7rem;
  color: var(--text);
}

.navbar--text__subtitle {
  margin: 20px;
  font-style: italic;
  color: var(--text-secondary);
}

.navbar--logo {
  width: 10rem;
  height: 10rem;
  background-image: var(--logo);
  background-repeat: round;
  background-size: contain;
  border-radius: 15px;
  margin: 20px 0;
}

@media screen and (min-width: 380px) {
  .container--navbar {
    padding: 80px 15px;
  }

  .navbar--logo {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
  }

  .navbar--text {
    width: 50%;
  }

  .navbar--text__title {
    padding: 0 5px;
    font-size: 2rem;
  }
}

@media screen and (min-width: 650px) {
  .container--navbar {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
}
