.container--list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px;
}

.list--content__container {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding: 0 10px;
}

.list--title {
  color: var(--text-secondary);
  padding: 15px 0;
}

.list--content__task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text);
  color: white;
  border-radius: 5px;
  text-align: left;
  padding: 5px;
  margin: 5px 0;
}

.list--content__task:nth-child(even) {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.list-content__task-decr {
  display: flex;
  flex-direction: column;
}

.list--content--handleMenu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list--content__task--item {
  margin: 0 10px;
  width: auto;
}

.list-content__task--header {
  margin: 15px 10px 0;
}

.list--content__task--item--button {
  background-color: var(--buttons);
  color: var(--background-primary);
  border: 0.5px solid var(--background-primary);
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.list--content__task--item--button:hover {
  cursor: pointer;
  opacity: 80%;
}

@media screen and (min-width: 320px) {
  .list--content__task--item--button {
    width: 70px;
    height: 70px;
  }
}

@media screen and (min-width: 620px) {
  .list--content__task {
    flex-direction: column;
    padding: 20px;
    margin: 10px 0;
  }

  .list--content--handleMenu {
    flex-direction: row;
    justify-content: space-between;
  }

  .list-content__task-decr {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 938px) {
  .list--content__task {
    flex-direction: row;
  }

  .list-content__task-decr {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .list-content__task--status {
    justify-content: space-between;
    display: flex;
    width: 50%;
  }
}
